*{
  background-color: #010015;
  color: white;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}
ul{
  list-style: none;
  padding: 0;
}
p{
  text-align: left;
}
.quote{
  color: #4cbe9f;
  font-style: italic;
}
.source{
  color:hsl(307, 21%, 70%);
}
.twitter img{
  width: 70vw;
}
.header{
  padding-top: 2vh;
}
.tooold{
  border-radius: .5em;
}