*{
  background-color: #010015;
  color: white;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}
body{
  margin: 0 5vw;
}
h1{
  font-family: 'DM Mono', monospace;
  font-size: 3em;
  color:#c3a2bf;
  margin: 1vh;
}
h3{
  margin: 0;
}
ul{
  list-style: none;
  padding: 0;
}
p{
  text-align: justify;
}
.quote{
  color: #4cbe9f;
  font-style: italic;
}
.source{
  color:hsl(307, 21%, 70%);
}
.twitter img{
  width: 70vw;
  border-radius: .5em;
}
.header{
  display: flex;
  padding-top: 2vh;
  flex-direction: row-reverse;
}
.header *{
  padding: 0 2vw;
}
.tooold{
  border-radius: .5em;
}
.treecontainer{
  display: flex;
  // padding-left: 3vw;
  // height: 40vh;
}
.content-container{
  display: flex;

}
.welcome{
  // height: 100vh;
  border: 0;
}
.welcome-container{
  padding-top: 3vh;
  align-content: right;
}
.welcome-container img{
  width: 8vh;
  float: right;
}